<!-- Services Section -->
    <section id="research_needs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Research Needs</h3>
                </div>

                <div class="p-large"> PTRC compiles a list of research projects which are needed in Australasia.  This includes:</div>
                <div>
                    {% for site_item in site.research_needs %}
                    <div>
                        <ul>
                            <li class="event-li"><a href="{{ site_item.url }}" target="_blank" rel="noopener noreferrer">{{ site_item.text }}</a></li>
                        </ul>
                    </div>
                {% endfor %}
                <ul>
                    <li class="event-li"><a href="https://docs.google.com/forms/d/e/1FAIpQLSc1NWF3mpvbUERh4D35tg2ATgEzn6J4xQX_m-lU484E-tSjAQ/viewform" target="_blank" rel="noopener noreferrer">Suggest a research need we are missing!</a></li>
                </ul>
                </div>
            </div>
        </div>
    </section>
