<!-- Resources Section -->
    <section id="resources" class="row">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Resources</h3>
                    <h3 class="section-subheading text-muted">Online resources to public transport professionals</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <h3 class="section-heading">Databases</h3>
                {% for database in site.resources.databases %}
                <div>
                    <ul>
                        <li class="event-li"><a href={{ database.url }} target="_blank" rel="noopener noreferrer">{{ database.name }}</a></li>
                    </ul>
                </div>
                {% endfor %}
            </div>
            
            <div class="col-lg-3">
                <h3 class="section-heading">Podcasts</h3>
                
                {% for site_item in site.resources.podcasts %}
                <div>
                    <ul>
                        <li class="event-li"><a href={{ site_item.url }} target="_blank" rel="noopener noreferrer">{{ site_item.name }}</a></li>
                    </ul>
                </div>
                {% endfor %}
            </div>

            <div class="col-lg-3">
                <h3 class="section-heading">ANZ Research Centres</h3>
                {% for site_item in site.resources.anz_research_centres %}
                <div>
                    <ul>
                        <li class="event-li"><a href={{ site_item.url }} target="_blank" rel="noopener noreferrer">{{ site_item.name }}</a></li>
                    </ul>
                </div>
                {% endfor %}
            </div>

            <div class="col-lg-3">
                <h3 class="section-heading">Other</h3>
            
                {% for site_item in site.resources.other %}
                <div>
                    <ul>
                        <li class="event-li"><a href={{ site_item.url }}>{{ site_item.name }} target="_blank" rel="noopener noreferrer"</a></li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
